<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <p class="h1 text-center mt-3">Submitted Information</p>
        <div class="container border border-dark rounded mt-3">
            <p>Name: <%= results.name %> </p>
            <p>Dojo Location: <%= results.location %></p>
            <p>Favorite Location: <%= results.language %></p>
            <p>Comment: <%= results.comment %></p>
        </div>
    </div>
</body>
</html>